/* carousel swipper style */
.carousel {
    width: 100%;
    /* height:65.29vw !important; */
    position: relative !important;
}
@font-face {
    font-family: "Open Sans Condensed";
    src: url("../font/OpenSans-CondBold.ttf");
    font-weight: 700;
    font-display: swap;
  }
p{
    margin-bottom: 0px !important;
}
.carousel .carousel-inner {
    width: 100%;
}
.carousel .carousel-inner h1 {
    width: 80%;
    margin-bottom: 19px;

}
.carousel .carousel-inner p {
    color: var(--white-color);
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 1.98vw;
    text-align: start;
}
.carousel .carousel-text-margin {
    width: 70%;
    height: 40%;
}
.carousel-caption{
    bottom: 4.86vw !important;
    left:  8.33vw  !important;
}
.carousel .carousel-control-prev,
.carousel-control-next {
    width: 15%;
    height: 15%;
    position: absolute !important;
    top: 27vw !important;
    transform: translateY(-50%) !important;
    opacity: 1 !important;
}
.carousel .carousel-control-prev {
    padding-right: 6.5vw !important;
}
.carousel .carousel-control-next {
    padding-left: 6.5vw !important;
}

.home-content-container {
    margin-bottom: 84px;
}

.home-content-container .jade-vision-section {
    width: 90vw;
    min-height: 238px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: auto;
    background-color: var(--primary-color);
    padding-left: 6%;
    margin-top: 46px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 8.9vw;
}
.home-content-container .jade-vision-section p {
    width: 85%;
    font-weight: 600;
    font-family: "Open Sans";
    font-style: italic;
    color: var(--white-color);
    text-align: center;
    font-size: 1.625rem;
    line-height: 2.6rem;
}
/* swipper style */
.home-content-container .swipper-section {
    position: relative;
    height: 723px;
    min-height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 12vw;
}

.background-blue-container {
    background-color: var(--primary-color);
    width:79.65vw;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 50px;
}
.slide-text .vision-container {
    display: flex;
    width: 5vw;
    height: 50px;
    margin-top: 35px;
    margin-left: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-text .vision-container-without-description {
    display: flex;
    width: 5vw;
    height: 50px;
    margin-top: 55px;
    margin-left: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-text .description-p {
    margin-top: -40px;
    margin-left: 33px;
    width: 100%;
    color: var(--white-color);
    /* top: auto; */
}
.slide-text .vision-container p,
.slide-text .vision-container-without-description p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #ffffff;
    align-self: flex-start;
}
.slide-text .eyes-icon {
    width: 60px;
    height: 60px;
    margin: 0px 10px;
    margin-bottom: 10px;
    align-self: flex-start;
}
.slide-text .eyes-icon {
    width: 60px;
    height: 60px;
    margin: 0px 10px;
    margin-bottom: 10px;
    align-self: flex-start;
}
.rectangle-svg {
    position: absolute;
    left: 0;
    z-index: 1;
    height: 50%;
    margin-top: -10%;
    margin-left: 5%;
}
.swipper-section-wrapper {
    width: 100%;
    height: 50%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative !important;
}
.swiper-slide {
    height: 100% !important;
}
.slide-text {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: transparent;
    color: white;
    text-align: start;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-text h2 {
    margin-top: 0;
}
.slide-text p {
    margin-bottom: 0;
}
.swiper-button-prev,
.swiper-button-next {
    color: var(--white-color) !important;
    background-color: #5c8bd1 !important;
    height: 100% !important;
    width: 8% !important;
    top: 0px !important;
    margin: 0px !important;
    z-index: 1 !important;
}
.swiper-container {
    width: 84% !important;
    height: 100% !important;
    min-height: 300px;
    /* margin-left: 10% !important; */
    overflow: hidden !important;
    display: flex !important;
    align-items: center !important;
}
.swiper-button-prev {
    left: 0px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}
.swiper-button-prev:after,
.swiper-button-next::after {
    content: "" !important;
}
.swiper-button-next {
    right: 0% !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
.home-content-container .contact-us-wrapper {
    width: 85%;
    margin: auto;
}
.home-content-container .contact-us-wrapper .home-contact-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.home-contact-section .contact-section-info {
    display: flex;
    flex-direction: column;
    width: 46%;
    min-width: 300px;
    margin-right: 30px;
}
.contacts-info {
    display: flex;
    flex-direction: row;
}

.home-contact-section .contact-section-info .about .contact-title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 3.25rem;
    color: var(--black-color);
    margin-bottom: 22px !important;
}
.home-contact-section .contact-section-info .about  .contact-details {
    width: 95%;
}
.home-contact-section .contact-section-info .call-us {
    margin: 42px 0px;
}
.home-contact-section .contact-section-info .call-us .contact-title {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #7e7e7e;
    padding-bottom: 19px;
}
.home-contact-section .contact-section-info .call-us  .contact-details {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    color: var(--black-color);
}

.home-contact-section .contact-section-info .contacts-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home-contact-section .contact-section-info .contacts-info .location {
    min-width: 200px;
    max-width: 320px;
    margin-bottom: 12px;
}
.home-contact-section .contact-section-info .contacts-info .location .contact-title {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #7e7e7e;
    padding-bottom: 12px;
}
.home-contact-section .contact-section-info .contacts-info .location .contact-details {
    width: 70%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--black-color);
}
.home-contact-section .contact-section-info .contacts-info .write-us-email .contact-title {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #7e7e7e;
    padding-bottom: 12px;
}
.home-contact-section .contact-section-info .contacts-info .write-us-email .contact-details {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--black-color);
}
.home-contact-section .contact-section-info .reach-us {
    margin-top: 46px;
    margin-bottom: 32px;
}
.home-contact-section .contact-section-info .reach-us .contact-title {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #7e7e7e;
    margin: 0px !important;
}
.home-contact-section .contact-section-info .reach-us img {
    padding-top: 19px;
}
.form-container .form-btn {
    width: 250px;
    margin-top: 60px;
}
@media (max-width: 1055px) {
    .home-contact-section .contact-section-info .call-us .contact-details {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}
@media (max-width: 875px) {
    .home-content-container .jade-vision-section p,
    .home-contact-section .contact-section-info .about .contact-title {
        font-size: 1.25rem;
        line-height: 2.2rem;
    }
    .home-contact-section .contact-section-info .call-us .contact-details {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    .slide-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 55px;
    }
    .background-blue-container{
        height: 80%;
        top: auto;
    }
}
@media (max-width:740px) {
    .carousel-inner h1 {
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 10px !important;
    }
    .carousel-inner p {
        font-size: 1rem !important;
        line-height: 3.98vw !important;
    }
    .form-container {
        width: 100%;
    }
    .form-container .form-btn {
        width: 100%;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .home-contact-section .contact-section-info  {
        width: 100%;
    }
    .home-contact-section .contact-section-info .call-us .contact-details {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .home-contact-section .contact-section-info .about .contact-title {
        font-size: 1.5rem;
     line-height: 3rem;
    }
}
@media (max-width: 650px) {
    .slide-text {
        justify-content: flex-start;
    }
    .rectangle-svg {
        display: none;
    }
}
@media (max-width: 500px) {
    .carousel-text-margin {
     
        height: 55% !important;
    }
   
    .carousel-control-next img,
    .carousel-control-prev img{
        width: 25px;
    }
    .slide-text .vision-container,
    .slide-text .description-p{
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .carousel .carousel-inner p {
        font-size: 10px !important;
    }
    .carousel-inner h1 {
        font-size: 15px !important; 
    }
}




/* qa section style */
.qa-wrapper {
    width: 84%;
    /* margin: 0 8.33vw; */
    margin: 0 1.33vw;

    margin-bottom:4.79vw ;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 3.25rem;
    color: var(--black-color);
}
.qa-wrapper .qa-section-title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 3.25rem;
    color: var(--black-color);
    margin-bottom: 3.47vw;
}
.qa-wrapper .qa-item-wrapper {
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 4.86vw;
    padding-top: 5vw;
    flex-wrap: wrap;
}
.qa-wrapper .qa-item-wrapper .qa-item-inner-wrapper {
    display: flex;
    margin-left: 7%;
    flex-wrap: wrap;
}
.qa-wrapper .qa-item-wrapper .qa-item-inner-wrapper .qa-element-img {
    width: 215px;
    height: 142px;
}
.qa-wrapper .qa-item-wrapper .qa-item-inner-wrapper .padding-bottom-20 {
    padding-top: 20px;
}
.qa-wrapper .qa-item-wrapper .qa-item-inner-wrapper .qa-element-list {
    width: 80%;
    min-width: 300px;
    padding: 0 4.44vw;
}
.qa-wrapper
    .qa-item-wrapper
    .qa-item-inner-wrapper
    .qa-element-list-last-section {
    width: 41.5vw;
    padding-left: 5%;
}
.qa-wrapper .qa-item-wrapper .qa-item-inner-wrapper .qa-element-list li {
    font-weight: 400;
    font-size: 1.125rem;
    font-family: "Open Sans";
    line-height: 1.8rem;
}
.qa-wrapper
    .qa-item-wrapper
    .qa-item-inner-wrapper
    .qa-element-list
    .list-title {
    font-weight: 700;
    font-size: 1.563rem;
    font-family: "Open Sans";
    line-height: 2.625rem;
}
.qa-wrapper
    .qa-item-wrapper
    .qa-item-inner-wrapper
    .qa-element-list
    .qa-download-option {
    display: flex;
}

.qa-wrapper
    .qa-item-wrapper
    .qa-item-inner-wrapper
    .qa-element-list
    .qa-download-option
    .qa-download-option-one {
    display: flex;
    font-family: "Open Sans Condensed";
    color: var(--gray-color);
    margin-top: 5px;
    margin-right:3.5vw
}

.qa-wrapper
    .qa-item-wrapper
    .qa-item-inner-wrapper
    .qa-element-list
    .qa-download-option
    .qa-download-option-one
    h3 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.625rem;
    margin: 0px 15px;
}

@media (max-width: 767.5px) {
    .qa-wrapper .qa-section-title,
    .about-jade-details h3 {
        font-size: 1.6rem !important;
        line-height: 2.3rem !important;
    }
    .qa-wrapper
        .qa-item-wrapper
        .qa-item-inner-wrapper
        .qa-element-list
        .list-title {
        font-weight: 700;
        font-size: 1.3rem;
        font-family: "Open Sans";
        line-height: 2.1rem;
    }
    .qa-wrapper .qa-item-wrapper .qa-item-inner-wrapper{
        margin-left: 0;
    }
}

@media (max-width: 617px) {
    .qa-wrapper
        .qa-item-wrapper
        .qa-item-inner-wrapper
        .qa-element-list
        .qa-download-option
        .qa-download-option-one {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .qa-wrapper
        .qa-item-wrapper
        .qa-item-inner-wrapper
        .qa-element-list
        .qa-download-option
        .qa-download-option-one
        .qa-download-img {
        width: 25px;
        height: 25px;
    }
    .qa-wrapper
        .qa-item-wrapper
        .qa-item-inner-wrapper
        .qa-element-list
        .qa-download-option
        .qa-download-option-one
        h3 {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .swiper-button-prev {
        left: 0 !important;
    }
    .swiper-button-next {
        right: 0 !important;
    }
}


/*********** Services ***********/
